

body {
  padding-top: 50px;
}

.navbar {
  height: 50px;
}

.centered {
  float: none;
  margin: 75px auto;
  width: 660px;
}

.input-group {
  margin: auto;
  width: 80%;
}

.btn {
  width: 50%;
}
