

body {
  padding-top: 50px;
}

.navbar {
  height: 50px;
}

.centered {
  float: none;
  margin: 0 auto;
}

.input-group {
  margin: auto;
  width: 80%;
  button {
    width: 50%;
  }
}

/*.input-group-btn {
  margin: auto;
  float: none;
}*/
